body {
    background-color:aquamarine;
}

.container {
    background-color: white;
    font-family: Arial;
    padding: 40px;
    text-align: center;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
}

form * {
  display: block;
  margin-bottom: 10px;
}

input, select, textarea {
  padding: 4px;
  margin-right: auto;
  margin-left: auto;
}

button {
  margin-right: auto;
  margin-left: auto;
}

input:focus, textarea:focus  {
  border-color: purple;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button:hover {
  background-color: black;
  color: white;
}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: black;
  box-shadow: none;
}

.radio-group input[type="radio"]:checked + label  {
  color: green;
}

input:first-of-type {
  color: black;
}




