body {
  background-color: rgb(230, 229, 229);
  font-family: Arial, sans-serif;
}

.todo {
  width: 300px;
  background-color: white;
  padding: 20px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 16px;
}

.todo-list {
  list-style-type: none;
}

li {
  margin-bottom: 40px;
  margin-left: -20px;
  background-color: rgb(247, 213, 219);
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: rgb(117, 117, 201);
}

a:visited { 
  text-decoration: none; 
  color: purple;
} 

a:hover { 
  text-decoration: none; 
  color: brown;
} 

a:focus {  
  outline: 2px solid rgb(81, 165, 255);
}

a:active { 
  text-decoration: none; 
  color: green;
}



